RewriteEngine On
RewriteCond %{REQUEST_URI} \.(gltf|gbl|usdz)$ [NC]
RewriteCond %{HTTP_REFERER} !^http://ar.allbreaker.co/.*$ [NC]
RewriteRule ^.* - [F,L]
<Files "reminder.php">
        Order Deny,Allow
        Deny from all
        Allow from http://ar.allbreaker.co/Assets/
        Allow from http://ar.allbreaker.co/
</Files>