<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>

<body>
    <div>
        <h1>Actualizar modelo usdz</h1>
    </div>
    <div>
        <a href="logout">logout</a>
    </div>
    <br>
    <div>
        <p>Seleccciona modelo .usdz :</p>
        <input type="file" name="fileusdz" id="fileusdz" accept=".usdz" required="required" onchange="saveFile_glb(this)">
        </br></br>
    </div>
    </br>
    <a href="home_principal">Volver</a>
    <script>
        function saveFile_glb(event) {
            const xhr = new XMLHttpRequest();
            let formData = new FormData();
            const file = event.files[0];

            formData.append('fileusdz', file);

            xhr.onreadystatechange = (state) => {
                console.log(xhr.status);
            }

            xhr.timeout = 5000;
            xhr.open('POST', 'compare_data_usdz_and_upload', true);
            xhr.send(formData);


        }
    </script>


</body>

</html>