<!DOCTYPE html>
<html>

<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
    <link rel="stylesheet" href="/ar_web.css" type="text/css">
</head>

<body onload="cambiarImagenJS()">
    <div id="demo">
        <% if(AR_web.length> 0)
            {
            AR_web.forEach(function(data){
            %>
            <tr>
                <td>
                    <%= data.modelo_glb %>
                        <script>
                            var modelo_glb = '<%= data.modelo_glb %>';            
                        </script>
                </td>
                <td>
                    <%= data.modelo_usdz %>
                        <script>
                            var modelo_usdz = '<%= data.modelo_usdz %>';
                        </script>
                </td>
            </tr>
            <% }); } else { %>
                <tr>
                    <td colspan="5">No Data Found</td>
                </tr>
                <% } %>
    </div>



    <script language="JavaScript" Type="text/javascript">
        window.addEventListener('contextmenu', function (e) {

            e.preventDefault();
        }, false);

    </script>
    <script type='text/javascript'>
        function cambiarImagenJS() {
            document.getElementById("model_prueba").src = modelo_glb;
           // document.getElementById("model_prueba").ios-src = modelo_usdz;
            console.log("si llega aca y cambia");
            console.log(modelo_glb);
        }
    </script>
    <section>
        <model-viewer id="model_prueba" controls controlsList="nodownload"
            src="https://s3.amazonaws.com/web.ar.allbreaker/cubo_radioactivo.glb"
            ios-src="https://s3.amazonaws.com/web.ar.allbreaker/cubboo.usdz" magic-leap camera-controls autoplay ar
            ar-mode="webxr"> </model-viewer>
    </section>
</body>

</html>