@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

head {
	font-size: 80px;
	text-align: center;
	align-content: center;
}

model-viewer {

	width: 75vw;
	height: 75vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
	margin: 0 auto;
	position: fixed;
	--poster-color: #00000000;

}

section {
	position: fixed;
}

body {
	position: fixed;
	background-color: transparent;
	text-decoration-color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 40px;
	margin: 0px;
	overflow-x: hidden;
	padding: 0px;
}

#default-ar-button {
	position: absolute;
	bottom: 150px;
	right: 16px;
	transform: scale(var(--ar-button-scale, 1));
	transform-origin: top-left;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 0px;
}

ul,
ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a,
a:hover,
a:focus {
	-webkit-text-decoration: none;
	-moz-text-decoration: none;
	-ms-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
	transition: ease all 0.5s;
}

img {
	max-width: 100%;
	height: auto;
}

input,
textarea {
	outline: none;
	border: none;
	resize: none;
}



/*/////////////////////////////////////////////////////////////////////////////////*/

/*estilos de las anotaciones*/
button {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: none;
	background-color: rgb(128, 7, 158);
	box-sizing: border-box;
}



button[slot="hotspot-hand"] {
	--min-hotspot-opacity: 0;
	background-color: red;
}

button[slot="hotspot-foot"]:not([data-visible]) {
	background-color: transparent;
	border: 3px solid blue;
}



.cross {
	background-color: aqua;
}

#annotation {
	background-color: #888888;
	position: absolute;
	transform: translate(10px, 10px);
	border-radius: 10px;
	padding: 10px;
}



This keeps child nodes hidden while the element loads 
:not(:defined)>* {
	display: none;
}

/*.dot {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	background: rgb(28, 172, 9);
	--min-hotspot-opacity: 0.5;
}*/
.dot{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    pointer-events: none;
    --min-hotspot-opacity: 0;
  }

/*///////////////////////////////////////////*/
/*estilos del cambiar animaciones*/
#controls {
    position: absolute;
	
    bottom: 16px;
    left: 16px;
    max-width: unset;
    transform: unset;
    pointer-events: auto;
}

.dim {
	background: rgb(0, 0, 0);
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
	color: rgba(255, 255, 255, 0.8);
	display: block;
	font-family: Futura, Helvetica Neue, sans-serif;
	font-size: 18px;
	font-weight: 700;
	max-width: 128px;
	overflow-wrap: break-word;
	padding: 0.5em 1em;
	position: absolute;
	top: 700px;
	right: 0;
	width: 128px;
	height: 100px;
	transform: translate3d(-50%, -50%, 0);
	--min-hotspot-opacity: 0;
}





